.box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  padding: 20px;
  width: 650px;
  height: 170px;
  border-radius: .8em;
  justify-content: center; /*Center content horizontally*/
  align-items: center; /*Center content vertically*/
}

h2 {
  text-align: center; /*Center text horizontally*/
  margin: 0; /*Remove default margin to avoid white space*/
  font-family: sans-serif;
}

.body-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../Image/cropped-1920-1200-1242033.jpg");
  background-size: cover; /*Adjust the size of the image so that it covers the entire background*/
  background-repeat: no-repeat; /*Prevents the image from repeating in the background*/
  background-position: center center; /*Place the image in the center of the background*/
}