.card-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  object-fit: cover;
  background-color:rgba(247, 158, 107, 0.7);
  border: 1px solid gray;
  border-radius: 5px;
  padding: 25px;
  cursor: pointer;
  /*animation for gradual change*/  
  -moz-osx-fontsmoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover{
  transform: scale(1.05);
}

.image-card{
  width: 50%; /*Set the width of the image to 100% of the container*/
  height: auto; /*Adjust image height automatically*/
  object-fit: cover; /*Adjust the size of the image without distortion*/
  border-radius: 10px;
}

.box-text {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  border-radius: .8em;
  padding: 5px;
}