.body-form{
  margin-top: 80px; /*Adjust the height of the NavBar*/
  padding-bottom: 20px; /*adjust space down*/
}

.box-text {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  padding: 5px 50px 5px 50px;
  width: 450px;
  height: 60px;
  border-radius: .8em;
  display: flex; /*Set the box container as a flexbox*/
  justify-content: center; /*Center content horizontally*/
  align-items: center; /*Center content vertically*/
  margin-top: 5px; /*Adjust the height of the NavBar*/
}

.button-submit {
  width: 200px;
  height: 50px;
  margin-top: 5px;
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  border-radius: 10rem;
  color: #000;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to bottom, #ff736d, #ff8763, #ff9b5c, #ffb059, #ffc55b);
}