.button-intro {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  font-family: monospace;
  font-weight: bold;
  display: inline-block;
  border-radius: 10rem;
  color: #000;
  font-size: 1rem;
  letter-spacing: .15rem;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-image: linear-gradient(to bottom, #ff736d, #ff8763, #ff9b5c, #ffb059, #ffc55b);
}

.box {
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px solid black;
  padding: 20px;
  width: 650px;
  height: 100px;
  border-radius: .8em;
  display: flex; /*Set the box container as a flexbox*/
  justify-content: center; /*Center content horizontally*/
  align-items: center; /*Center content vertically*/
}

h1 {
  text-align: center; /*Center text horizontally*/
  margin: 0; /*Remove default margin to avoid white space*/
  font-family: sans-serif;
}

.body-bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../../Image/cropped-1920-1200-690447.jpg");
  background-size: cover; /*Adjust the size of the image so that it covers the entire background*/
  background-repeat: no-repeat; /*Prevents the image from repeating in the background*/
  background-position: center center; /*Place the image in the center of the background*/
}